/* you can override the default max-width size here or override each style by your custom css like code font-size */

#write {
    font-size: 1.125rem;
    line-height: 1.625rem;
    max-width: 68rem;
}

@media only screen and (min-width: 1400px) {
    #write {
        max-width: 64rem;
    }
}

@media only screen and (min-width: 1800px) {
    #write {
        max-width: 75rem;
    }
}


pre,
code,
kbd,
tt,
var {
    font-size: 0.875em;
}